.Wrapper{

		/*adds background image to page*/
		/*background-image: url(../images/concrete.png);*/
		height: 690px;
		width: 960px;


	}
header{
		
		background-color: #ffffff;
		height: 70px;
		width: 960px;
		font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
		font-size: 12px;
		color: #999999;

	}

a{
	text-decoration:none;

}
/*adds color to links*/
	a:link { color: #cccccc; }
	a:visited { color: #cccccc; }
	a:hover { color: #0000FF; }
	a:active { color: #FFFF00; }

#nav{

		position: relative;
		left: 80%;
		top:-30%;
		text-decoration: none;
		padding-top: 10px;
}
#Crown{
	
		position: relative;
		left: 4.25%;
		top: 74%;
		background-color: #4aaaa5;
		font-family: 'Georgia', Times, Times New Roman, serif;
		color: #ffffff;
		text-align: center;
		width: 300px;
		height: 30px;
		padding: 7px;
		font-size: 25px;
		padding-top: 12px;

	
	}
#bioimage{

			width: 200px;
			height: 200px;
			margin: 10px;
			float:left;
	}
.MainBio{
		


		font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
		width: 650px;
		height: 520px;
		color: #999999;
		background-color: #ffffff;
		border:solid 2px #dddddd;
		position: relative;
		left: 4.25%;
		top:8%;
		/*adds a border around your content*/
		padding: 10px;
		line-height: 200%;
		margin-top: 30px;
	} 
.contact{
		


		font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
		width: 650px;
		height: 515px;
		color: #999999;
		background-color: #ffffff;
		border:solid 2px #dddddd;
		position: relative;
		left: 4.25%;
		/*adds a border around your content*/
		padding: 10px;
		line-height: 200%;
		margin-top: 30px;


	} 	
#form{

		border:solid 1px #dddddd;
		font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
		color: #999999;

	}
#submit{

		font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
		color: #ffffff;
		background-color: #4aaaa5;
		border:none;
		padding: 5px;
		padding-left: 10px;
		padding-right: 10px;
	}
.portfolio{


		font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
		width: 650px;
		height: 515px;
		color: #999999;
		background-color: #ffffff;
		border:solid 2px #dddddd;
		position: relative;
		left: 4.25%;
		/*adds a border around your content*/
		padding: 10px;
		line-height: 200%;
		margin-top: 30px;
		overflow: auto;
	}
#hangman{	

		font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
		text-align: center;
		color: #ffffff;
		background-color: #4aaaa5;
		height: 20px;
		width: 187.45px;
		padding: 2px;
		padding-bottom: 10px;
		position: absolute;
    	top: 40%;
    	left:4.55%;
    	z-index: 1;
    	
}
#hangmanpic{
	
		margin: 20px;
/*		padding-top: 9px;
		padding-bottom: 10px;
		margin-bottom: 5px;*/
}
#rpg{

		font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
		text-align: center;
		color: #ffffff;
		background-color: #4aaaa5;
		height: 20px;
		width: 187.45px;
		padding: 2px;
		padding-bottom: 10px;
	    position: absolute;
    	top: 40%;
    	left:40.45%;
    	z-index: 2;

}
#rpgpic{

		margin: 20px;
		
	}
#trivia{

		font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
		text-align: center;
		color: #ffffff;
		background-color: #4aaaa5;
		height: 20px;
		width: 187px;
		padding: 2px;
		padding-bottom: 10px;
	    position: absolute;
    	top: 90%;
    	left:4.55%;
    	z-index: 2;

}
#triviapic{

		margin: 20px;
				
	}
#widget{

		font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
		text-align: center;
		color: #ffffff;
		background-color: #4aaaa5;
		height: 20px;
		width: 187.45px;
		padding: 2px;
		padding-bottom: 10px;
	    position: absolute;
    	top: 90%;
    	left:40.45%;
    	z-index: 2;

}
#widgetpic{

		margin: 20px;
			
	}
#rps{

		font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
		text-align: center;
		color: #ffffff;
		background-color: #4aaaa5;
		height: 20px;
		width: 187px;
		padding: 2px;
		padding-bottom: 10px;
	    position: absolute;
    	top: 138%;
    	left:4.55%;
    	z-index: 2;

}
#rpspic{

		margin: 20px;
		
	}
.Connect{
		
		color: #4aaaa5;
		text-align: center;
		font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
		width: 155px;
		height: 100px;
		background-color: #ffffff;
		border:solid 2px #dddddd;
		/*moves div to location*/ 
		position: relative;
		left: 77%;
		top:-71%;
		/*adds a border around your content*/
		padding: 10px;
		padding-bottom: 25px;

	}
.hover:hover {
		
		background-color: rgba(0,0,0,0.5);
		
		border: 2px solid #4aaaa5;
		padding-left: 5px;
		padding-right: 5px;
		padding-top: 30px;

	}

footer{

		text-align: center;
		background-color: #333333;
		border-top: solid 8px #4aaaa5;
		color: #ffffff;
		height: 10px;
		width: 880px;
		padding: 40px;
		font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
		font-size: 10px;

	}
hr{
	height: 1px;
	color: #999999;
	background-color: #999999;
	boarder:none;
	}

@media screen and (max-width:640px){

body{ background-color: blue; }

.Wrapper{

	width: 100%;
	padding: 20px;
	
}

}	

@media screen and (max-width:768px){

.wrapper{

	width: 100%;
	background-color: red;
}

}